:root {
--primary-accent: #324ef0;
--secondary-accent: #fcaf3b;
--site-bg: #ffffff;
--light-bg: #ededed;
--dark-bg: #182570;
--text-color: #14171c;
--text-dark-bg:  #ffffff;
--c-1:  #77b978;
--c-2: #f37262;

--ff-primary: 'Poppins', Arial, Helvetica, sans-serif;
--ff-accent: 'Poppins', Arial, Helvetica, sans-serif;
}

.dark{
    --primary-accent: #26bcdb;
    --secondary-accent: #1f90a6;
    --site-bg: #121212;
    --light-bg: #1a1a1a;
    --dark-bg: #1a1a1a;
    --text-color: #ffffff;
    --text-dark-bg: #ffffff;
    --c-1: #77b978;
    --c-2: #f37262; 
}

/* 
Kevin Powell - Responsive design made easy 16 Dec 20 -- https://www.youtube.com/watch?v=bn-DQCifeQQ
*/


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    /* padding:0; */
}


body {
    font-family: var(--ff-primary);
   
    font-size: 1.3125rem;
    line-height: 1.6;
    margin: 0;
    width: 100vw;
}

h1{
    padding: 0;
    padding-bottom: .5em;
    margin: 0;
    font-weight: 600;
    color: var(--text-color);
}
h2, h3 {
    color: var(--text-color);
    font-family: var(--ff-accent);  
    line-height: 1;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

h2{
    font-size: 2em;
    font-weight: 600;
    padding-top: .5em;
}
p {
    font-weight: 400;
    font-size: .85em;
    color: var(--text-color);
    margin-bottom: 1em;
}

a {
    color: var(--primary-accent);
}
.img {
    display: block;
    max-width: 100%;
    padding-top: .5em;   
}

#dreampic{
    height: 80%;
    margin-block: auto; 
    
    /* font-size: 0; 
    line-height: 0; */
    /* img vertical-align: top; */
}
/* section > .dream {
    padding-block: min(2vh, 2rem);
    max-height: 80vh;
} */

#beach {
    margin-bottom: .5em;
    margin-top: 1em;
    margin-inline: auto;
    
}

#sunsal {
    height: 60%;
    margin-inline: auto;
}

#readsy {
    width: 50%;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.neve-credit {
    font-size: .8em;
    margin-bottom: 0;
    padding-bottom: 1em;
}

.main-title{
    text-align: center;
    font-weight: 600;
    font-size: 3.5em;
    padding: 0;
    margin:0;
}

#dreamtext, #shorttext, #altertext {
    margin-block: auto;
}



/* ==== background colors ======= */
.bg-light {
    background-color: var(--light-bg);
}
.bg-white {
    background-color: var(--site-bg);
}
/* ==== end background colors ======= */

 .caption {
    font-size: 0.5em;
    margin-top: .5em;
    color: var(--primary-accent);
} 

.caption1 {
    margin-left: 4em;
    font-size: 0.5em;
    color: var(--primary-accent);
}

.caption2 {
    font-size: 0.5em;
    margin-top: .5em;
    margin-left: 2rem;
    color: var(--primary-accent);
}

/* ====  header ===== */

header {
    display: flex;
    flex-wrap: wrap;

    color: var(--text-color);
    background-color: var(--site-bg);
}
.title {
    margin-left: 6rem;
    margin-block: auto;
    font-size: .6em;
}
.dark-mode-toggle {
    margin-right: 6rem;
   margin-block: auto;
   margin-left: auto;
}
button{
    border: none;
    background-color: white;
    border-radius: 20%;
}
.darkmode{
    fill: var(--text-color);
}

/* ==== end header ===== */

/* ==== big picture section ===== */

.typewriter{
    padding: 0;
    margin: 0;
    width: 100vw;
    border-radius: 0;
}

#typewriter {
    padding: 0;
    background-color: var(--site-bg);
    padding-bottom: .5em;
}

/* ==== end big picture section ===== */



/* ===== responsive / media query big bits ======================= */
@media (min-width: 40em) {
    header {
        padding: .5rem 0;
    } 
    section {
        padding: 7rem 0;
    }
}
/* ===== responsive / media query divided bits ================== */
.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }
}

.container--narrow {
    max-width: 34rem;
}
/* ===== end responsive / media query bits ============================ */
