:root {
--primary-accent: #324ef0;
--secondary-accent: #fcaf3b;
--site-bg: #ffffff;
--light-bg: #ededed;
--dark-bg: #182570;
--text-color: #14171c;
--text-dark-bg:  #ffffff;
--c-1:  #77b978;
--c-2: #f37262;

--ff-primary: 'Poppins', Arial, Helvetica, sans-serif;
--ff-accent: 'Poppins', Arial, Helvetica, sans-serif;
}

.dark{
    --primary-accent: #26bcdb;
    --secondary-accent: #1f90a6;
    --site-bg: #121212;
    --light-bg: #1a1a1a;
    --dark-bg: #1a1a1a;
    --text-color: #ffffff;
    --text-dark-bg: #ffffff;
    --c-1: #77b978;
    --c-2: #f37262; 
}

/* 
Kevin Powell - Responsive design made easy 16 Dec 20 -- https://www.youtube.com/watch?v=bn-DQCifeQQ
*/


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: var(--ff-primary);
   
    font-size: 1.3125rem;
    line-height: 1.6;
    margin: 0;
}

h1{
    padding: .5em;
    margin: 0;
    font-weight: 600;
    color: var(--text-color);
}
h2, h3 {
    color: var(--text-color);
    font-family: var(--ff-accent);  
    line-height: 1;
    margin: 0;
    margin-bottom: 1em;
}

h2{
    font-size: 2em;
    font-weight: 600;
    padding-top: .5em;
}
p {
    font-weight: 400;
    font-size: .85em;
    color: var(--text-color);
    /* margin: 0; */
    margin-bottom: 1em;
}

button {
   border-radius: 50%;
}

.img {
    display: block;
    max-width: 100%;   
}

#dreampic{
    height: 80%;
    margin-block: auto;
    padding: 1em;
}

#beach {
    margin-bottom: .5em;
    margin-top: 1em;
    margin-inline: auto;
    height: 70%;
}

#sunsal {
    height: 60%;
    margin-inline: auto;
}

#readsy {
    width: 50%;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.main-title{
    text-align: center;
    font-weight: 600;
    font-size: 3.5em;
    padding: 0;
}

#dreamtext, #shorttext, #altertext {
    margin-block: auto;
}

/* ==== background colors ======= */
.bg-light {
    background-color: var(--light-bg);
}
.bg-white {
    background-color: var(--site-bg);
}
/* ==== end background colors ======= */

/* .credits {
    font-size: 0.8em;
} */

/* ====  header ===== */

.header{
    height: .5rem; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
    
    color: var(--text-color);
    font-size: .7em;
}
#header {
    height: 1rem;
    background-color: var(--site-bg);
    color: var(--text-color);
}

.title{
    padding-left: 6rem;
    grid-column: 1;
    background-color: var(--site-bg);
    color: var(--text-color);
}
/* .title.dark {
    color: #14171c;
} */

.dark-mode-toggle {
    padding-right: 6rem;
    padding-left: 8rem;
    grid-column: -1;
    padding-top: 1rem;
    background-color: var(--site-bg);
    color: var(--text-color);
    /* margin-block: auto; */
}
/* ==== end header ===== */

/* ==== big picture section ===== */

.typewriter{
    padding: 0;
    margin: 0;
    width: 100vw;
    border-radius: 0;
}

#typewriter {
    padding: 0;
    margin-top: 4rem;
    background-color: var(--site-bg);
}

/* ==== end big picture section ===== */

/* section {
    padding: 0;
} */

/* ===== responsive / media query big bits ======================= */
@media (min-width: 40em) {
    header {
        padding: .5rem 0;
    } 
    section {
        padding: 7rem 0;
    }
}
/* ===== responsive / media query divided bits ================== */
.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }
}

.container--narrow {
    max-width: 34rem;
}
/* ===== end responsive / media query bits ============================ */
